<div class="container">

  <div class="d-flex justify-content-between">
    <div class="p-2">
      <h1>Card Triage</h1>
    </div>
    <div class="p-2">
      <label>Search: <input type="search" [(ngModel)]="filter"></label>
    </div>
  </div>

  <div class="d-flex">
    <div class="p-2 flex-fill">
      <h2>ToDo</h2>
      <div style="position:absolute">
        &hellip; No card &hellip;
      </div>
      <div *ngFor="let card of cards">
        <card *ngIf="cardOk(card, 'TODO')" [card]="card"></card>
      </div>
    </div>
    <div class="p-2 flex-fill">
      <h2>Done</h2>
      <div style="position:absolute">
      &hellip; No card &hellip;
      </div>
      <div *ngFor="let card of cards">
        <card *ngIf="cardOk(card, 'DONE')" [card]="card"></card>
      </div>
    </div>
  </div>
</div>